@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,div,p,li{
    margin: 0;
    padding: 0;
}

:root{
    --Poppins:'Poppins', sans-serif;
    --manrope:'Manrope', sans-serif;
}



/* ================banner-part-start=================== */
#banner-part{
    background: #1C1E53;
    padding: 30px 0;
}

#banner-part .custom_navbar ul {
    align-items: center;  
}

#banner-part .custom_navbar ul li a{
    color: #BBBBCB;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 500;
    padding-right: 27px;
}

#banner-part .custom_navbar ul li a:hover{
    color:  #FFF;
}

#banner-part .custom_navbar .contact-btn{
    margin-left: 28px;
}

#banner-part .custom_navbar .contact-btn a button{
    background: transparent;
    border: none;
    color:  #FFF;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 500;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);        
} 

#banner-part .custom_navbar .contact-btn a button:hover{
    background-color: #FFF;
    color: #1C1E53;
}

#banner-part .mar-pad{
    padding: 128px 0;
}

#banner-part .mar-pad .banner-left{
    padding-top: 39px;
} 

#banner-part .mar-pad .banner-left h2{
    color: #FFF;
    font-family: var(--Poppins);
    font-size: 54px;
    font-weight: 600;
}

#banner-part .mar-pad .banner-left p{
    color:  #FFF;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 500;
    padding: 32px 0;
}



#banner-part .mar-pad .banner-left .View-Pricing-btn a{
    border-radius: 41px;
    background: #FCD980;
    padding: 16px 48px;
    color:  #282938;
    font-family: var(--manrope);
    font-size: 18px;
    font-weight: 600;
    
}

#banner-part .mar-pad .banner-left .View-Pricing-btn a:hover{
    background: #FFF;
    color: #1C1E53;
}


/* ================banner-part-end=================== */




/* ================brand-part-start=================== */
#brand_part{
    padding: 96px 0;
}



#brand_part .fin-Users h6{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-top: 15px;

}

#brand_part .brand-logo{
    padding-top: 28px;
    margin-left: 49px;
}

/* ================brand-part-end=================== */



/* ================benefits-part-start=================== */


#benefits-part  .benefits-title h2{
    color: #282938;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
}

#benefits-part .box-all{
    background:  #F4F6FC;
    width: 405px;
    height: 316px;
    margin-top: 48px;

}

#benefits-part .box-all:hover{
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

#benefits-part .box-all .mar-pad-48{
    padding: 24px;
}

#benefits-part .box-all .mar-pad-48 h4{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    padding-top: 26px;
}

#benefits-part .box-all .mar-pad-48 p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 12px;
    opacity: 0.7;
}


/* ================benefits-part-end=================== */


/* ================Client-first-part-start=================== */
#Client-first-part{
    padding: 128px 0;
}

#Client-first-part .Client-first-left{
    margin-top: 41px;
}

#Client-first-part .Client-first-left h6{
    color: #000;
    font-family: var(--Poppins);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;

}

#Client-first-part .Client-first-left h3{
    color: #232536;
    font-family: var(--Poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding: 16px 0;
}

#Client-first-part .Client-first-left p{
    color:  #282938;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    padding-right: 5px;
}

/* ================Client-first-part-end=================== */




/* ================Free-Revision-part-start=================== */
#revision-part{
    padding: 128px 0;
    background:  #F4F6FC;
}

#revision-part  .revision-part-right{
    margin-top: 41px;
}

#revision-part  .revision-part-right h6{
    color: #000;
    font-family: var(--Poppins);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;
}

#revision-part  .revision-part-right h3{
    color: #232536;
    font-family: var(--Poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding: 16px 0;
}

#revision-part  .revision-part-right p{
    color: #232536;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    padding-right: 5px;
}
/* ================Free-Revision-part-end=================== */



/* ================support-part-start=================== */
#support-part{
    padding: 128px 0;
}


#support-part .support-left{
    margin-top: 41px;
}

#support-part .support-left h6{
    color: #000;
    font-family: var(--Poppins);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;

}

#support-part .support-left h3{
    color: #232536;
    font-family: var(--Poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding: 16px 0;
}

#support-part .support-left p{
    color:  #282938;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    padding-right: 5px;
}

/* ================support-part-end=================== */



/* ================Quick-Delivery-part-start=================== */

#quick-part{
    padding: 128px 0;
    background: rgba(252, 217, 128, 0.10);
}

#quick-part  .quick-right{
    margin-top: 41px;
}

#quick-part  .quick-right h6{
    color: #000;
    font-family: var(--Poppins);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;
}

#quick-part  .quick-right h3{
    color: #232536;
    font-family: var(--Poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding: 16px 0;
}

#quick-part  .quick-right p{
    color: #232536;
    font-family: var(--Poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    padding-right: 5px;
}



/* ================Quick-Delivery-part-end=================== */




/* ================question-part-end=================== */


#questions-part{
    padding: 128px 0;
}

#questions-part .questions-part-left h1{
    color: #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    padding-right: 83px;
    margin-bottom: 16px;
}

#questions-part .questions-part-left a{
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500; 
    opacity: 0.87;
}

#questions-part .questions-part-left a:hover{
    color: #2405F2;
    
}


#questions-part .questions-part-right h5{
    color: #282938;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;

} 

#questions-part .questions-part-right h5 .one{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    padding-right: 60px;
}

#questions-part .questions-part-right p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
}

/* ================question-start-end=================== */






/* ================footer-part-start=================== */


#footer-part{
    padding-top: 128px;
    background: #1C1E53;
}

#footer-part .footer-left p{
    color:  #FFF;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.8;
    padding-right: 70px;
    margin-top: 22px;
}
#footer-part .footer-left .footer-yellow-part{
    background:  #FCD980;
    display: flex;
    width: 517px;
    height: 90px;
    align-items: center;
    column-gap: 30px;
    padding: 18px 25px;
    margin-top: 86px;

    
} 

#footer-part .footer-left .footer-yellow-part .email{
    padding-top: 18px;
}
#footer-part .footer-left .footer-yellow-part .email ul li{
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
}

#footer-part .footer-left .footer-yellow-part .email ul li a{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
#footer-part .footer-left .footer-yellow-part .phone{
    padding-top: 18px;
}

#footer-part .footer-left .footer-yellow-part .phone ul li {
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
}
#footer-part .footer-left .footer-yellow-part .phone ul li a{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}

#footer-part .footer-right h1{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
}

#footer-part .footer-right p{
    color:  #F4F6FC;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    padding-right: 216px;
    padding-top: 14px;

}
#footer-part .footer-right .icon{
    padding-top: 28px;
}

#footer-part .footer-right .icon a{
    padding-right: 26px;
    color: #FFF;
}
/* ================footer-part-end=================== */


/* ================footer-end-part-start=================== */

#footer-end .custom_footer p{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;

} 

#footer-end .custom-footer-nav ul li a{
    padding-right: 28px;
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
}
/* ================footer-end-part-end=================== */